:root {
  --default: #091324;
  --coffee: #7C4D21;
  --home: #45BF55;
  --resume: #3D85C6;
  --resumeBlue: #6F006F;
  --aboutme: #6F006F;
  --contact: #FF2D00;
  --white: #FFFFFF;
  --offwhite: #DFDFDF;
  --darkgrey: #333333;
  --fivehundredpx: #000000;
  --facebook: #3b5998;
  --linkedin: #117fb8;
  --mail: #555555;
}

.App {
  text-align: left;
  padding-top: 100px;
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src:
    local('League Spartan'),
    url(../assets/LeagueSpartan-Bold.otf) format('opentype');
}

/* Header */

.container {
  transition: all 0.25s ease;
}

@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
}

@media (min-width: 2400px) {
  .container {
    width: 2370px;
  }
}

.navbar {
  background-color: #333333;
  background-image: none;
  color: #FFFFFF;
  transition: all 0.25s ease;
  border-bottom: 7px solid #45BF55;
}

.navbar.home {
  border-bottom: 7px solid #45BF55;
}

.navbar.resume {
  border-bottom: 7px solid #3D85C6;
}

.navbar.aboutme {
  border-bottom: 7px solid #6F006F;
}

.navbar.contact {
  border-bottom: 7px solid #FF2D00;
}

.navbar-inverse .navbar-brand {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #FFFFFF;
}


.navbar-header {
  font-weight: normal;
  transition: all 0.25s ease;
}

.navbar-header a {
  font-size: 2em;
  transition: all 0.25s ease;
}

.navbar li a {
  color: #FFFFFF;
  transition: all 0.25s ease;
  font-size: 1.15em;
}

.navbar-inverse .navbar-nav>li.home:focus,
.navbar-inverse .navbar-nav>li.home:hover {
  background-color: #45BF55;
  transition: all 0.25s ease;
}

.navbar-inverse .navbar-nav>li.resume:focus,
.navbar-inverse .navbar-nav>li.resume:hover {
  background-color: #3D85C6;
  transition: all 0.25s ease;
}

.navbar-inverse .navbar-nav>li.aboutMe:focus,
.navbar-inverse .navbar-nav>li.aboutMe:hover {
  background-color: #6F006F;
  transition: all 0.25s ease;
}

.navbar-inverse .navbar-nav>li.contact:focus,
.navbar-inverse .navbar-nav>li.contact:hover {
  background-color: #FF2D00;
  transition: all 0.25s ease;
}

.navbar-inverse.collapsed .navbar-nav>li.home:focus,
.navbar-inverse.collapsed .navbar-nav>li.home:hover {
  border-radius: 5px;
}

.navbar-inverse.collapsed .navbar-nav>li.resume:focus,
.navbar-inverse.collapsed .navbar-nav>li.resume:hover {
  border-radius: 5px;
}

.navbar-inverse.collapsed .navbar-nav>li.aboutMe:focus,
.navbar-inverse.collapsed .navbar-nav>li.aboutMe:hover {
  border-radius: 5px;
}

.navbar-inverse.collapsed .navbar-nav>li.contact:focus,
.navbar-inverse.collapsed .navbar-nav>li.contact:hover {
  border-radius: 5px;
}

@media (min-width: 860px) {
  .navbar {
    width: 100%;
    padding: 0px 0px 0px 0px;
    color: #333333;
    height: 57px;
    transition: all 0.25s ease;
  }

  .navbar-inverse.collapsed .navbar-nav>li>a {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    transition: color 0.25s ease;
  }

  .navbar-inverse.collapsed .navbar-nav>li>a:hover {
    color: #FFFFFF;
    transition: color 0.25s ease;
  }

  .navbar-inverse .navbar-brand {
    display: block;
    transition: display 0.25s ease;
  }

  .navbar-inverse.collapsed .navbar-brand {
    display: none;
  }

  .navbar-inverse.collapsed .navbar-brand,
  .navbar-inverse.collapsed .navbar-nav>li.active>a {
    color: #FFFFFF;
  }

  .navbar.collapsed {
    height: 57px;
    background: none;
    border-bottom: none;
    top: -100px;
  }

  .navbar.collapsed a {
    color: #333333;
  }

  .navbar-header,
  .navbar div.container,
  .navbar-collapse {
    height: 100%;
  }

  .navbar-header {
    font-weight: normal;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    flex-grow: 20;
    justify-content: center;
    transition: all 0.25s ease;
  }

  .navbar-header a {
    font-size: 2em;
    transition: all 0.25s ease;
  }

  .navbar-header a.collapsed {
    font-size: 2em;
  }

  .navbar ul {
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0px 5% 0px 0px;
    flex-grow: 1;
    height: 51px;
    transition: all 0.25s ease;
    display: none;
  }

  .navbar ul.collapsed {
    height: 51px;
    padding-top: 10px;
  }

  .navbar li {
    float: left;
    height: 100%;
    text-align: center;
    min-width: 100px;
    display: table;
    transition: all 0.25s ease;
  }

  .navbar.collapsed li {
    margin-left: 5px;
    transition: all 0.25s ease;
  }

  .navbar li a {
    display: table-cell;
    color: #333333;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.15em;
    height: 20px;
  }

  .navbar.collapsed li a {
    border-radius: 5px;
  }

  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #6F006F;
    background-image: none;
    box-shadow: none;
  }

  .navbar-inverse .navbar-nav>.active.home>a,
  .navbar-inverse .navbar-nav>.active.home>a:focus {
    background-color: #45BF55;
    background-image: none;
    box-shadow: none;
  }

  .navbar-inverse .navbar-nav>.active.resume>a,
  .navbar-inverse .navbar-nav>.active.resume>a:focus {
    background-color: #3D85C6;
    background-image: none;
    box-shadow: none;
  }

  .navbar-inverse .navbar-nav>.active.aboutme>a,
  .navbar-inverse .navbar-nav>.active.aboutme>a:focus {
    background-color: #6F006F;
    background-image: none;
    box-shadow: none;
  }

  .navbar-inverse .navbar-nav>.active.contact>a,
  .navbar-inverse .navbar-nav>.active.contact>a:focus {
    background-color: #FF2D00;
    background-image: none;
    box-shadow: none;
  }

  .navbar li a.home:hover {
    background-color: #45BF55;
    border-radius: 5px;
    transition: all 0.25s ease;
  }

  .navbar li a.resume:hover {
    background-color: #3D85C6;
    border-radius: 5px;
    transition: all 0.25s ease;
  }

  .navbar li a.aboutme:hover {
    background-color: #6F006F;
    border-radius: 5px;
    transition: all 0.25s ease;
  }

  .navbar li a.contact:hover {
    background-color: #FF2D00;
    border-radius: 5px;
    transition: all 0.25s ease;
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 58px;
  }

  .navbar-header a {
    font-size: 2em;
    transition: all 0.25s ease;
  }

  .navbar ul {
    height: 51px;
  }
}

/* Divider */

div.spacer {
  height: 50px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  .App-divider {
    margin-top: 100px;
  }
}

div.spacer.mobile {
  height: 50px;
  transition: all 0.25s ease;
}

@media (min-width: 860px) {
  div.spacer.mobile {
    height: 0px;
  }
}

.App-divider {
  width: 100%;
  background-color: #6F006F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  font-family: 'League Spartan', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.App-divider:after,
.App-divider:before {
  content: "";
  display: inline-block;
  width: 0%;
  border-radius: 10px;
  border-bottom: 4px solid #FFFFFF;
  transition: all 0.5s ease-in;
}

.App-divider.home {
  background-color: #45BF55;
}

.App-divider.resume {
  background-color: #3D85C6;
}

.App-divider.aboutme {
  background-color: #6F006F;
}

.App-divider.contact {
  background-color: #FF2D00;
}

div.arrow,
div.arrow img {
  display: flex;
  flex: 1;
  width: 100%;
  max-height: 25px;
  margin-bottom: -1px;
}

div.arrow.top {
  margin-top: -1px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  div.arrow,
  div.arrow img,
  div.arrow.top {
    height: 25px;
  }

  div.arrow.bottom img {
    margin-top: -24px;
  }
}

p.divider-content {
  padding: 50px;
  font-size: 2em;
  margin: 10px 0px 0px 0px;
  transition: all 0.25s ease;
}

@media (min-width: 450px) {
  p.divider-content {
    font-size: 3em;
    padding: 100px;
  }
}

@media (min-width: 860px) {
  p.divider-content {
    padding: 125px;
  }
}

@media (min-width: 992px) {
  p.divider-content {
    padding: 150px;
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  p.divider-content {
    font-size: 4em;
  }
}

.down {
  display: inline-block;
  padding: 15px;
  width: 50px;
  opacity: 0.5;
  background: url(../assets/arrow_down.png) center no-repeat;
  margin-top: -20px;
  transition: all 0.5s ease-in;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(-60px);
  }

  60% {
    transform: translateY(-45px);
  }
}


/* Home */

.App-home {
  background-color: #FFFFFF;
  padding: 20px;
  color: #091324;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  font-family: 'League Spartan', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.Home-title {
  font-size: 3.5em;
  margin-top: 0em;
  padding: 50px 0px 75px 0px;
  flex-direction: row;
  transition: all 0.25s ease;
}

.Home-subtitle1 {
  font-size: 3em;
  margin-top: 0.5em;
  padding: 50px 0px 50px 0px;
  flex: 2;
  flex-direction: row;
  transition: all 0.25s ease;
}

.Home-subtitle2 {
  font-size: 2em;
  margin-top: 0.5em;
  padding: 50px 0px 50px 0px;
  flex: 2;
  flex-direction: row;
  transition: all 0.25s ease;
}

@media (min-width: 450px) {
  .Home-title {
    font-size: 5em;
    padding: 50px 0px 75px 0px;
  }

  .Home-subtitle1 {
    font-size: 4em;
    padding: 50px 0px 50px 0px;
  }

  .Home-subtitle2 {
    font-size: 2.75em;
    padding: 50px 0px 50px 0px;
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .Home-title {
    font-size: 7em;
    font-weight: bold;
  }

  .Home-subtitle1 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .Home-subtitle2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
  }
}


div.InfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.InfoColumn {
  padding: 25px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  min-width: 200px;
  transition: all 0.25s ease;
}

div.InfoColumn:not(:last-child) {
  border-bottom: 1px dashed #DFDFDF;
  border-right: none;
  transition: all 0.25s ease;
}

div.InfoBox .title {
  font-size: 3em;
  transition: all 0.25s ease;
}

div.InfoBox img {
  max-width: 150px;
  transition: all 0.25s ease;
}

@media (min-width: 874px) {

  div.InfoColumn {
    padding: 50px;
    min-width: 270px;
  }

  div.InfoBox .title {
    font-size: 1.75em;
  }

  div.InfoBox img {
    max-width: 100px;
  }

  div.InfoColumn:not(:last-child) {
    border-right: 1px dashed #DFDFDF;
    border-bottom: none;
  }

  div.InfoBox {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {

  div.InfoColumn {
    min-width: 370px;
  }

  div.InfoBox .title {
    font-size: 3em;
  }

  div.InfoBox img {
    max-width: 200px;
  }
}

@media (min-width: 1600px) {
  div.InfoColumn {
    min-width: 500px;
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  div.InfoBox .title {
    font-size: 4em;
    font-weight: bold;
  }
}


/* Resume */

/* resume-Header */

.App-resume-title {
  font-size: 3em;
  font-weight: normal;
  padding-left: 5%;
  color: rgb(68, 68, 68);
  flex-direction: column;
}

.App-resume-intro {
  font-size: large;
  padding-left: 5%;
}

.App-resume-header-image {
  flex-direction: column;
  padding-left: 5%;
  min-width: 200px;
}

p.posCompany {
  font-size: 2.1em !important;
  margin-bottom: 10px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.posTitle {
  font-style: italic;
  padding-left: 1%;
}

.expInfo {
  padding-left: 2%;
}

/* Section */

.App-section {
  background-color: #FFFFFF;
  padding: 20px;
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 860px) {
  .App-section {
    padding-left: 150px;
  }
}

.App-section:not(:last-child) {
  border-bottom: 1px dashed #DFDFDF;
}

.App-section-title {
  font-size: 1.5em;
  color: #3D85C6;
  max-width: 200px;
  flex: 1 1 600px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  /* margin-top: 0.5em; */
}

.App-section-wrapper,
.App-section-content {
  flex: 9 9 600px;
}

.App-section-wrapper {
  font-size: 1em;
  color: rgb(68, 68, 68);
  text-align: center;
  transition-duration: 200ms;
  animation-duration: 200ms;
  flex-direction: column;
}

.App-section-content {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: rgb(68, 68, 68);
  font-size: 1em;
  font-weight: normal;
  padding-left: 5%;
  flex-direction: column;
  text-align: left;
}

.App-section-content p {
  font-size: 1.2em;
}

.App-section-title {
  font-weight: normal;
  padding-left: 5%;
  flex-direction: column;
}

/* AboutMe */

.App-about-section {
  background-color: #FFFFFF;
  padding: 20px;
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 860px) {
  .App-about-section {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (min-width: 1800px) {
  .App-about-section {
    padding-right: 0px;
  }
}

.App-about-section:not(:last-child) {
  border-bottom: 1px dashed #DFDFDF;
}

.App-about-section.flipped {
  flex-wrap: wrap-reverse;
}

.App-about-section-title {
  font-size: 1.5em;
  color: #6F006F;
  min-width: 200px;
  max-width: 400px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding: 3%;
  flex: 1 0 600px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  .App-about-section-title {
    min-width: 500px;
    margin-bottom: 0em;
  }
}

.App-about-content {
  color: rgb(68, 68, 68);
  font-size: 1em;
  font-weight: normal;
  flex-direction: column;
  text-align: left;
  flex: 8 8 600px;
  padding: 0px 3% 0px 3%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

  .App-about-section-title {
    max-width: 600px;
  }

  .App-about-content {
    padding: 0px 5% 0px 5%;
    margin-top: 100px;
  }
}

.App-about-content p {
  font-size: 1.2em;
  transition: all 0.25s ease;
}

@media (min-width: 450px) {
  .App-about-content p {
    font-size: 1.5em;
  }
}

@media (min-width: 1500px) {
  .App-about-content p {
    font-size: 2em;
  }

  .App-section {
    font-size: 1.2em;
  }
}

.App-about-content a {
  text-decoration: underline;
}

/* Images */

.App-headshot {
  max-width: 200px;
  border-radius: 50%;
}

img.App-about {
  display: flex;
  max-width: 200px;
  border-radius: 50%;
  margin: auto;
  transition: all 0.25s ease;
}

@media (min-width: 992px) {
  img.App-about {
    max-width: 400px;
  }
}

/* Contact */

.App-contact {
  margin: 5% 0px 5% 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  min-height: 200px;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 860px) {
  .App-contact {
    padding: 0px 150px;
  }
}

.App-contact a {
  margin: 10px 10px;
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.icon {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 999;
}

.icon:hover {
  opacity: 1;
}

.fivehundredpx,
.facebook,
.linkedin,
.mail {
  opacity: 0.5 !important;
  transition: background-color 0.25s ease;
}

.fivehundredpx:hover,
.facebook:hover,
.linkedin:hover,
.mail:hover {
  opacity: 1 !important;
}

.fivehundredpx {
  background: transparent url(../assets/500px.png) center no-repeat;
  background-color: #000000;
  background-size: 75px;
}

.facebook {
  background: transparent url(../assets/facebook.png) center no-repeat;
  background-color: #3b5998;
  background-size: 25px;
}

.linkedin {
  background: transparent url(../assets/linkedin.png) center no-repeat;
  background-color: #117fb8;
  background-size: 50px;
}

.mail {
  background: transparent url(../assets/mail.png) center no-repeat;
  background-color: #555555;
  background-size: 50px;
}

@media (min-width: 557px) {
  .App-contact a {
    margin: 10px 10px;
    width: 250px;
    height: 250px;
  }

  .fivehundredpx {
    background-size: 150px;
  }

  .facebook {
    background-size: 50px;
  }

  .linkedin,
  .mail {
    background-size: 100px;
  }
}

@media (min-width: 860px) {
  .App-contact a {
    margin: 10px 10px;
    width: 150px;
    height: 150px;
  }

  .fivehundredpx {
    background-size: 100px;
  }

  .facebook {
    background-size: 35px;
  }

  .linkedin,
  .mail {
    background-size: 60px;
  }
}

@media (min-width: 992px) {
  .App-contact a {
    margin: 20px 20px;
    width: 200px;
    height: 200px;
  }

  .fivehundredpx {
    background-size: 100px;
  }

  .facebook {
    background-size: 35px;
  }

  .linkedin,
  .mail {
    background-size: 60px;
  }
}

@media (min-width: 1600px) {
  .App-contact a {
    margin: 40px 40px;
    width: 300px;
    height: 300px;
  }

  .fivehundredpx {
    background-size: 200px;
  }

  .facebook {
    background-size: 60px;
  }

  .linkedin,
  .mail {
    background-size: 125px;
  }
}

/* Footer */

.phantom {
  display: block;
  padding: 0px;
  height: 60px;
  width: 100%;
}

.footer {
  background-color: #FFFFFF;
  border-top: 1px dashed #DFDFDF;
  padding: 0px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

div.footer div.left {
  flex-direction: column;
  padding-left: 2%;
  flex: 0 0 200px;
}

div.footer div.right {
  flex-direction: column;
  padding-right: 2%;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Persistent Icons */

div.persistentIcons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.25s ease;
}

div.persistentIcons.shifted {
  bottom: 70px;
  right: 20px;
  transition: all 0.25s ease;
}

div.persistentIcons img {
  max-width: 40px;
  margin-left: 10px;
  opacity: 0.5;
  transition: opacity 0.25s ease;
}

div.persistentIcons img:hover {
  opacity: 1;
  cursor: pointer;
}

/* Misc. */

button {
  background-color: #FFFFFF;
  color: #6F006F;
  border: 1px solid #6F006F;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

button:hover {
  color: #FFFFFF;
  background-color: #6F006F;
  border: 1px solid #6F006F;
  border-radius: 5px;
  transition-duration: 200ms;
}

.highlight.home {
  color: #45BF55;
}

.highlight.resume {
  color: #3D85C6;
}

.highlight.aboutme {
  color: #6F006F;
}

.highlight.contact {
  color: #FF2D00;
}

.hidden {
  display: none;
}

/* TEST */

.sidebar {
  position: fixed;
  left: -250px;
  top: 50%;
  z-index: 999;
}

@media (min-width: 860px) {
  .sidebar {
    left: 0;
    height: 300px;
    width: 125px;
    transform: translateY(-50%);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    transition: all 0.25s ease;
    font-size: 1.15em;
  }

  .sidebar.collapsed {
    /* left: -250px; */
  }

  .sidebar-item {
    height: 25%;
    width: 75%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: all 0.25s ease;
    position: relative;
  }

  .sidebar-item:hover {
    cursor: pointer;
    width: 85%;
  }

  .sidebar-item.selected:hover {
    width: 110%;
  }

  .sidebar-item.selected {
    width: 100%;
  }

  .sidebar.collapsed .sidebar-item.selected {
    width: 100%;
  }

  .sidebar-item.home {
    background: #45BF55;
  }

  .sidebar-item.resume {
    background: #3D85C6;
  }

  .sidebar-item.aboutme {
    background: #6F006F;
  }

  .sidebar-item.contact {
    background: #FF2D00;
  }

  .ribbon {
    transition: all 0.25s ease;
  }

  .ribbon.selected:after,
  .ribbon.selected:before {
    content: '';
    position: absolute;
    border-style: solid;
  }

  .ribbon.selected:before {
    top: 4.6em;
    right: 0em;
    border-width: 0.5em 2em 0em 0em;
    z-index: -1;
  }

  .ribbon.selected:after {
    top: 0.5em;
    right: -2em;
    border-width: 2.3em 1em 2.3em 3em;
    z-index: -2;
  }

  .ribbon.selected.home:after {
    border-color: #328C3E transparent #328C3E #328C3E;
  }

  .ribbon.selected.home:before {
    border-color: #2A402D transparent #2A402D #2A402D;
  }

  .ribbon.selected.resume:after {
    border-color: #2E6494 transparent #2E6494 #2E6494;
  }

  .ribbon.selected.resume:before {
    border-color: #2C3A47 transparent #2C3A47 #2C3A47;
  }

  .ribbon.selected.aboutme:after {
    border-color: #882988 transparent #882988 #882988;
  }

  .ribbon.selected.aboutme:before {
    border-color: #3D003D transparent #3D003D #3D003D;
  }

  .ribbon.selected.contact:after {
    border-color: #CC2500 transparent #CC2500 #CC2500;
  }

  .ribbon.selected.contact:before {
    border-color: #803726 transparent #803726 #803726;
  }
}

/* Light Switch */

.lightSwitch {
  width: 75px;
  height: 200px;
  color: rgba(128, 128, 128, 0);
  position: fixed;
  top: -400px;
  right: 5%;
  z-index: 999;
  border-right: 2px dashed #CCC;
  transition: all 0.5s ease;
  padding-right: 20px;
  z-index: 9999;
  display: none;
}

.lightSwitch:hover {
  color: rgba(68, 68, 68, 1);
  top: -20px;
  cursor: pointer;
}

.lightSwitch:active {
  top: -10px;
  transition: top 0.1s ease;
}

.bulb {
  color: #FFFFFF;
  z-index: 9999;
  padding-left: 30px;
  position: absolute;
  font-size: 1.5em;
  right: 5%;
  top: 20%;
}

@media (min-width: 860px) {
  .lightSwitch {
    top: -40px;
    display: inline-block;
  }

  .bulb {
    color: #666666;
    position: fixed;
    top: 0px;
    right: 6.5%;
    transform: rotate(180deg);
    font-size: 2em;
  }
}

/* Dark Styles */

.dark {
  background-color: #091324;
  color: #FFFFFF;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}

.dark a {
  color: rgb(180, 215, 255);
  text-shadow: 0 -5px 75px,
    0 0 0.5em #A8DDFF;
  transition: all 0.25s ease-in-out;
}

.dark a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 -5px 75px,
    0 0 0.5em #A8DDFF;
}

/* Dark Lightswitch */

.dark .lightSwitch {
  border-right: 2px dashed #EFEFEF;
}

.dark .lightSwitch:hover {
  color: rgba(255, 255, 255, 1);
}

.dark .bulb {
  color: #FFFFFF;
  transition: all 0.5s ease-in;
  text-shadow: 0 0px 50px,
    0 0 50px,
    0 0 100px,
    0 0 100px,
    0 0 1em #666,
    0 0 1em #666,
    0 0 1em #666;
}

@media (min-width: 860px) {
  .dark .bulb {
    color: #FFFFFF;
    transition: all 0.5s ease-in;
    text-shadow: 0 0px 50px,
      0 0 50px,
      0 0 100px,
      0 0 100px,
      0 0 1em #666,
      0 0 1em #666,
      0 0 1em #666;
  }
}

/* Dark Nav */

.dark .navbar {
  background-color: #333333;
  color: #FFFFFF;
  border-bottom: 7px solid #05F283;
  transition: all 0.5s ease-in;
}

.dark .navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.dark .navbar li a {
  color: #FFFFFF;
}

.dark .navbar-inverse .navbar-nav>li.home:focus,
.dark .navbar-inverse .navbar-nav>li.home:hover {
  background-color: #05F283;
}

.dark .navbar-inverse .navbar-nav>li.resume:focus,
.dark .navbar-inverse .navbar-nav>li.resume:hover {
  background-color: #056CF2;
}

.dark .navbar-inverse .navbar-nav>li.aboutMe:focus,
.dark .navbar-inverse .navbar-nav>li.aboutMe:hover {
  background-color: #7A26F0;
}

.dark .navbar-inverse .navbar-nav>li.contact:focus,
.dark .navbar-inverse .navbar-nav>li.contact:hover {
  background-color: #F38220;
}

@media (min-width: 860px) {
  .dark .navbar {
    color: #333333;
    transition: all 0.25s ease;
  }

  .dark .navbar-inverse.collapsed .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.5);
  }

  .dark .navbar-inverse.collapsed .navbar-nav>li>a:hover {
    color: #FFFFFF;
  }

  .dark .navbar-inverse.collapsed .navbar-brand,
  .dark .navbar-inverse.collapsed .navbar-nav>li.active>a {
    color: #FFFFFF;
  }

  .dark .navbar.collapsed a {
    color: #333333;
  }

  .dark .navbar li a {
    color: #333333;
  }

  .dark .navbar-inverse .navbar-nav>.active>a,
  .dark .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #7A26F0;
  }

  .dark .navbar-inverse .navbar-nav>.active.home>a,
  .dark .navbar-inverse .navbar-nav>.active.home>a:focus {
    background-color: #05F283;
  }

  .dark .navbar-inverse .navbar-nav>.active.resume>a,
  .dark .navbar-inverse .navbar-nav>.active.resume>a:focus {
    background-color: #056CF2;
  }

  .dark .navbar-inverse .navbar-nav>.active.aboutme>a,
  .dark .navbar-inverse .navbar-nav>.active.aboutme>a:focus {
    background-color: #7A26F0;
  }

  .dark .navbar-inverse .navbar-nav>.active.contact>a,
  .dark .navbar-inverse .navbar-nav>.active.contact>a:focus {
    background-color: #F38220;
  }

  .dark .navbar li a.home:hover {
    background-color: #05F283;
  }

  .dark .navbar li a.resume:hover {
    background-color: #056CF2;
  }

  .dark .navbar li a.aboutme:hover {
    background-color: #7A26F0;
  }

  .dark .navbar li a.contact:hover {
    background-color: #F38220;
  }
}

/* Dark Divider */

.dark .App-divider {
  background-color: #091324;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in;
}

.dark .App-divider span.flicker:nth-child(4n) {
  animation: blink linear infinite 4.8s;
}

.dark .App-divider span.flicker:nth-child(4n+1) {
  animation: blink linear infinite 3.2s;
}

.dark .App-divider span.flicker:nth-child(4n+2) {
  animation: blink linear infinite 4.1s;
}

.dark .App-divider span.flicker:nth-child(4n+3) {
  animation: blink linear infinite 3.9s;
}

.dark .App-divider:after,
.dark .App-divider:before {
  content: "";
  display: inline-block;
  width: 80%;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  border-bottom: 0px solid #FFFFFF;
  animation: barBlink linear infinite 15s;
}

.dark .App-divider.home {
  color: #05F283;
  box-shadow: inset 0px 0px 10px 5px #05F283;
  text-shadow: 0 -5px 75px, 0 0 20px, 0 0 1em #05F283, 0 0 1em #05F283, 0 0 1em #05F283, 0 10px 3px #000;
}

.dark .App-divider.home:before,
.dark .App-divider.home:after {
  border-bottom: 4px solid #AAFAAE;
  filter: drop-shadow(0px 0px 5px #AAFAAE);
}

.dark .App-divider.resume {
  color: #A9F0F9;
  box-shadow: none;
  text-shadow: 0 -5px 75px, 0 0 20px, 0 0 1em #056CF2, 0 0 1em #056CF2, 0 0 1em #056CF2, 0 10px 3px #000;
}

.dark .App-divider.resume:before,
.dark .App-divider.resume:after {
  border-bottom: 4px solid #A9F0F9;
  filter: drop-shadow(0px 0px 5px #A9F0F9);
}

.dark .App-divider.aboutme {
  color: #CBCDF7;
  box-shadow: none;
  text-shadow: 0 -5px 75px, 0 0 20px, 0 0 1em #7A26F0, 0 0 1em #7A26F0, 0 0 1em #7A26F0, 0 10px 3px #000;
}

.dark .App-divider.aboutme:before,
.dark .App-divider.aboutme:after {
  border-bottom: 4px solid #CBCDF7;
  filter: drop-shadow(0px 0px 5px #CBCDF7);
}

.dark .App-divider.contact {
  color: #F38220;
  box-shadow: inset 0px 0px 10px 5px #F38220;
}

.dark .App-divider.contact {
  color: #FAD1C5;
  box-shadow: none;
  text-shadow: 0 -5px 75px, 0 0 20px, 0 0 1em #F38220, 0 0 1em #F38220, 0 0 1em #F38220, 0 10px 3px #000;
}

.dark .App-divider.contact:before,
.dark .App-divider.contact:after {
  border-bottom: 4px solid #FAD1C5;
  filter: drop-shadow(0px 0px 5px #FAD1C5);
}

/* Dark Home */

.dark .App-home {
  background-color: #091324;
  color: #FFFFFF;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}

/* Dark Resume */

.dark .App-resume-title {
  color: rgb(187, 187, 187);
}

.dark .App-section {
  background-color: #091324;
  color: rgb(187, 187, 187);
}

.dark .App-section-title {
  color: #A9F0F9;
}

.dark .App-section-wrapper {
  color: rgb(187, 187, 187);
}

.dark .App-section-content {
  color: rgb(255, 255, 255);
}

.dark .App-about-section {
  background-color: #091324;
  color: rgb(187, 187, 187);
}

.dark .App-section,
.dark .App-section-title,
.dark .App-section-wrapper,
.dark .App-section-content,
.dark .App-about-section {
  transition: color 0.5s ease-in, background 0.5s ease-in;
}

/* Dark About */

.dark .App-about-section-title img {
  /* filter: drop-shadow(5px 5px 5px #0A0A0A); */
  box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 1);
  transition: all 0.5s ease-in;
}

.dark .App-about-content {
  color: rgb(255, 255, 255);
}

.dark .footer {
  background-color: #091324;
  border-top: 1px dashed #3F3F3F;
}

.dark button {
  background-color: #091324;
  color: #7A26F0;
  border: 1px solid #7A26F0;
}

.dark button:hover {
  color: #FFFFFF;
  background-color: #7A26F0;
  border: 1px solid #7A26F0;
  border-radius: 5px;
}

.dark .App-about-section-title,
.dark .App-about-content,
.dark .footer,
.dark button,
.dark button:hover {
  transition: color 0.5s ease-in, background 0.5s ease-in;
}

/* Dark Highlights */

.dark .highlight.home {
  color: #05F283;
  text-shadow:
    0 0 20px,
    0 0 0.1em #05F283,
    0 0 0.1em #05F283,
    0 0 1em #05F283,
    0 5px 3px #000;
}

/* .dark .InfoColumn .highlight.home span {
  animation: blink linear infinite 7.2s;
}

.dark .InfoColumn .highlight.resume span {
  animation: blink linear infinite 12s;
}

.dark .InfoColumn .highlight.contact span {
  animation: blink linear infinite 3.3s;
} */

.dark .highlight.resume {
  color: #A9F0F9;
  text-shadow:
    0 0 20px,
    0 0 0.1em #056CF2,
    0 0 0.1em #056CF2,
    0 0 1em #056CF2,
    0 5px 3px #000;
}

.dark .highlight.aboutme {
  color: #CBCDF7;
  text-shadow:
    0 0 20px,
    0 0 0.1em #7A26F0,
    0 0 0.1em #7A26F0,
    0 0 1em #7A26F0,
    0 5px 3px #000;
}

.dark .highlight.contact {
  color: #FAD1C5;
  text-shadow:
    0 0 20px,
    0 0 0.1em #F38220,
    0 0 0.1em #F38220,
    0 0 1em #F38220,
    0 5px 3px #000;
}

.dark .highlight.home,
.dark .highlight.resume,
.dark .highlight.aboutme,
.dark .highlight.contact {
  transition: color 0.25s 0.5s ease, text-shadow 0.25s 0.5s ease;
}

/* Dark Arrow */

.dark .down {
  background: url(../assets/blue-arrow_down.png) center no-repeat;
  opacity: 1;
  filter: drop-shadow(0px 0px 5px #A9F0F9);
}

.dark .aboutme .down {
  background: url(../assets/purple-arrow_down.png) center no-repeat;
  filter: drop-shadow(0px 0px 5px #CBCDF7);
}

.dark .contact .down {
  background: url(../assets/orange-arrow_down.png) center no-repeat;
  filter: drop-shadow(0px 0px 5px #FAD1C5);
}

.dark .bounce {
  animation: none;
  transform: translateY(-30px);
}

/* Dark Sidebar */

@media (min-width: 860px) {

  .dark .sidebar-item {
    font-size: 2.5em;
    font-family: 'Vibur', cursive;
    color: transparent;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: 400;
  }

  .dark .sidebar-item,
  .dark .sidebar-item.selected,
  .dark .sidebar-item:hover {
    width: 150%;
  }

  .dark .sidebar-item.selected {
    color: #FFF;
  }

  .dark .sidebar-item:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  }

  .dark .ribbon.selected.home {
    text-shadow:
      0 0 0.2em #fff,
      0 0 0.3em #fff,
      0 0 0.4em #45BF55,
      0 0 0.6em #45BF55,
      0 0 0.8em #45BF55,
      0 0 1em #45BF55,
      0 0 1.2em #45BF55;
  }

  .dark .ribbon.selected.resume {
    text-shadow:
      0 0 0.2em #fff,
      0 0 0.3em #fff,
      0 0 0.4em #3D85C6,
      0 0 0.6em #3D85C6,
      0 0 0.8em #3D85C6,
      0 0 1em #3D85C6,
      0 0 1.2em #3D85C6;
  }

  .dark .ribbon.selected.aboutme {
    text-shadow:
      0 0 0.2em #fff,
      0 0 0.3em #fff,
      0 0 0.4em #6F006F,
      0 0 0.6em #6F006F,
      0 0 0.8em #6F006F,
      0 0 1em #6F006F,
      0 0 1.2em #6F006F;
  }

  .dark .ribbon.selected.contact {
    text-shadow:
      0 0 0.2em #fff,
      0 0 0.3em #fff,
      0 0 0.4em #FF2D00,
      0 0 0.6em #FF2D00,
      0 0 0.8em #FF2D00,
      0 0 1em #FF2D00,
      0 0 1.2em #FF2D00;
  }

  .dark .sidebar-item.home {
    background-color: #45BF55;
  }

  .dark .sidebar-item.resume {
    background-color: #3D85C6;
  }

  .dark .sidebar-item.aboutme {
    background-color: #6F006F;
  }

  .dark .sidebar-item.contact {
    background-color: #FF2D00;
  }

  .dark .ribbon.selected.home:after,
  .dark .ribbon.selected.home:before,
  .dark .ribbon.selected.resume:after,
  .dark .ribbon.selected.resume:before,
  .dark .ribbon.selected.aboutme:after,
  .dark .ribbon.selected.aboutme:before,
  .dark .ribbon.selected.contact:after,
  .dark .ribbon.selected.contact:before {
    border: none;
  }
}

/* Dark Contact */

.dark .fivehundredpx,
.dark .facebook,
.dark .linkedin,
.dark .mail {
  opacity: 0.5 !important;
}

.dark .fivehundredpx:hover,
.dark .facebook:hover,
.dark .linkedin:hover,
.dark .mail:hover {
  opacity: 1 !important;
}

.dark .fivehundredpx {
  background: transparent url(../assets/500px.png) center no-repeat;
  filter:
    drop-shadow(0px 0px 0.3em #666) drop-shadow(0px 0px 0.4em #000000) drop-shadow(0px 0px 0.6em #000000) drop-shadow(0px 0px 0.8em #000000) drop-shadow(0px 0px 1em #000000) drop-shadow(0px 0px 1.2em #000000);
}

.dark .facebook {
  background: transparent url(../assets/facebook.png) center no-repeat;
  filter:
    drop-shadow(0px 0px 0.3em #fff) drop-shadow(0px 0px 0.4em #3b5998) drop-shadow(0px 0px 0.6em #3b5998) drop-shadow(0px 0px 0.8em #3b5998) drop-shadow(0px 0px 1em #3b5998);
}

.dark .linkedin {
  background: transparent url(../assets/linkedin.png) center no-repeat;
  filter:
    drop-shadow(0px 0px 0.3em #fff) drop-shadow(0px 0px 0.4em #117fb8) drop-shadow(0px 0px 0.6em #117fb8) drop-shadow(0px 0px 0.8em #117fb8) drop-shadow(0px 0px 1em #117fb8);
}

.dark .mail {
  background: transparent url(../assets/mail.png) center no-repeat;
  filter:
    drop-shadow(0px 0px 0.3em #fff) drop-shadow(0px 0px 0.4em #555555) drop-shadow(0px 0px 0.6em #555555) drop-shadow(0px 0px 0.8em #555555) drop-shadow(0px 0px 1em #555555);
}

.dark .fivehundredpx {
  background-size: 100px;
}

.dark .facebook {
  background-size: 25px;
}

.dark .linkedin {
  background-size: 50px;
}

.dark .mail {
  background-size: 50px;
}

@media (min-width: 557px) {
  .dark .fivehundredpx {
    background-size: 160px;
  }

  .dark .facebook {
    background-size: 45px;
  }

  .dark .linkedin,
  .dark .mail {
    background-size: 90px;
  }
}

@media (min-width: 860px) {
  .dark .fivehundredpx {
    background-size: 120px;
  }

  .dark .facebook {
    background-size: 30px;
  }

  .dark .linkedin,
  .dark .mail {
    background-size: 60px;
  }
}

@media (min-width: 992px) {
  .dark .fivehundredpx {
    background-size: 130px;
  }

  .dark .facebook {
    background-size: 35px;
  }

  .dark .linkedin,
  .dark .mail {
    background-size: 60px;
  }
}

@media (min-width: 1600px) {
  .dark .fivehundredpx {
    background-size: 250px;
  }

  .dark .facebook {
    background-size: 60px;
  }

  .dark .linkedin,
  .dark .mail {
    background-size: 125px;
  }
}

/* Animation */

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes barBlink {
  78% {
    opacity: 1;
  }

  79% {
    opacity: 0.2;
  }

  81% {
    opacity: 1;
  }

  82% {
    opacity: 0.2;
  }

  83% {
    opacity: 1;
  }

  92% {
    opacity: 0.2;
  }

  92.5% {
    opacity: 1;
  }
}